@page
@model MegaDeskWeb_DrazenLucic.Pages.DeskQuotes.EditModel

@{
    ViewData["Title"] = "Edit Desk Quote";
}

<h1>Edit Desk Quote</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeskQuote.ID" />
            <div class="form-group">
                <label asp-for="DeskQuote.Customer" class="control-label"></label>
                <input asp-for="DeskQuote.Customer" class="form-control" />
                <span asp-validation-for="DeskQuote.Customer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeskQuote.BaseDeskPrice" />
            <div class="form-group">
                <label asp-for="DeskQuote.OrderDate" class="control-label"></label>
                <input asp-for="DeskQuote.OrderDate" class="form-control" />
                <span asp-validation-for="DeskQuote.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeskQuote.SurfaceAreaSurcharge" />
            <input type="hidden" asp-for="DeskQuote.SurfaceAreaSurchargeThreshold" />
            <div class="form-group">
                <label asp-for="DeskQuote.NumberOfDrawers" class="control-label"></label>
                <select asp-for="DeskQuote.NumberOfDrawers" asp-items="Model.Drawers" class="form-control"></select>
                <span asp-validation-for="DeskQuote.NumberOfDrawers" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeskQuote.DrawerSurcharge" />
            <div class="form-group">
                <label asp-for="DeskQuote.SurfaceMaterial" class="control-label"></label>
                <select asp-for="DeskQuote.SurfaceMaterial" asp-items="Model.Materials" class="form-control">
                    <option value="">- please choose -</option>
                </select>
                <span asp-validation-for="DeskQuote.SurfaceMaterial" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeskQuote.SurfaceMaterialSurcharge" />
            <div class="form-group">
                <label asp-for="DeskQuote.ProductionTime" class="control-label"></label> in days
                <select asp-for="DeskQuote.ProductionTime" asp-items="Model.ProductionTimes" class="form-control"></select>
                <span asp-validation-for="DeskQuote.ProductionTime" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DeskQuote.RushOrderSurcharge" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-info" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}