@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Mega Desk Application</h1>
    <hr class="my-4">
    <p>Use this application to develop Mega Desk quotes.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/DeskQuotes" role="button">Go to desk quotes</a>
    </p>
</div>
